main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 6rem;
}

.work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    flex-grow: 1;
}

.work-section h2 {
    margin-bottom: 1.2rem;
}

.work-section__project-list {
    display: grid;
    row-gap: 4rem;
}

.project-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 60% 10% auto;
    box-shadow: 2px 9px 20px -10px rgba(0,0,0,0.54);
    height: 500px;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.project-card__screenshot-container {
    grid-column: 1 /-1;
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    object-fit: cover;
    margin-left: -1rem;
    margin-top: -1rem;
    margin-right: -1rem;
    background-color: lightsteelblue;
    color: var(--text-on-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    font-family: Old Standard TT;
}

.project-card__screenshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.project-card__title {
    grid-column: 1;
    font-size: 1.3rem;
    justify-self: center;
}

.project-card__icon-links {
    display: flex;
    gap: 1.2rem;
    grid-column: 2;
}

.project-card__description {
    color: var(--text-on-light);
    font-size: 1.1rem;
    grid-column: 1/-1;
    font-weight: 450;
    align-self: flex-start;
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* Card responsiveness */







